@model DogViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body class="img" style="background-image: src(); background-size: cover;">
<form asp-controller="Home" asp-action="CreateDog" method="post">


    <div class="container">
        <div class="">
        <div class="row">
        <div class="col-12">
            <div class="mb-3">
               <label class="form-label">Dog Name</label>
                   <input asp-for=DogName type="text" class="form-control">
                    </div>

        </div>   


        </div>
    </div>
    </div>
  </form>
  </body>